{% extends 'bootstrap/base.html' %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang(g.locale) }}
{% endblock %}

{% block title %}
{% if title %}
{{ title }} - Microblog
{% else %}
{{ _('Welcome to Microblog!') }}
{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{ _('Microblog') }}</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('index') }}">
      <span class="glyphicon glyphicon-home"></span> {{ _('Home') }}</a></li>
      {% if current_user.is_anonymous %}
      <li><a href="{{ url_for('register') }}">{{ _('Register') }}</a></li>
      <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> {{ _('Login') }}</a></li>
      {% else %}<!-- url_for(viewfunction, parameter value) takes an argument username and of course the view function-->
      <li><a href="{{ url_for('explore') }}">{{ _('Explore') }}</a></li>
      <li><a href="{{ url_for('user',username=current_user.username) }}">{{ _('Profile') }}</a></li>
      <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> {{ _('Logout') }}</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class='container'>
<!-- flashed messages appear only once after get_flashed_messages() as they are removed from messages list -->
{% with messages = get_flashed_messages() %}
{% if messages %}
	{% for message in messages %}
	<div class='alert alert-info' role='alert'>{{ message }}</div>
	{% endfor %}
{% endif %}
{% endwith %}
 {# application content needs to be provided in the app_content block #}
{% block app_content %}{% endblock %}
</div>
{% endblock %}